Body {
margin: 0px;
padding: 0px;
font-family: 'Times New Roman', Times, serif;
/* background-image: url("./assets/background.jpg"); */
background-repeat: repeat-x;
background-size: 100% auto;
background-color: #f7f4c8 !important;
}